body{
    font-family: "Segoe UI Variable Display",sans-serif;
    height: calc(100% - 16px);
    font-weight: bold;
}
svg,html{
    height:100%;
}
input{
    width:300px;
    height:40px;
    border:solid 3px gray;
    border-radius:3px;
    font-family: "Segoe UI Variable Display",sans-serif;
    font-size:30px;
}
input:focus{
    border-color:black;
}