body {
    font-family: "Segoe UI Variable Display", sans-serif;
    height: calc(100% - 16px);
    font-weight: bold;
}

svg,
html {
    height: 100%;
}

input {
    width: 286px;
    height: 28px;
    border: solid 5px gray;
    border-radius: 3px;
    font-family: "Segoe UI Variable Display", sans-serif;
    font-size: 28px;
    margin: 0;
}

input:focus {
    border-color: black;
}

svg>g {
    transition: 1s;
}

svg>g:not(.show) {
    opacity: 0;
    transform: scale(0);
}

#menu use {
    transition: 9s
}

#ready:hover rect {
    fill: #33D53E;
    stroke: #17A921;
}
#ready:hover{
    cursor: pointer;
}